body {
  background-color: rgb(46, 46, 46) !important;
}

.logo_nav {
  width: 20vw;
  height: auto;
  border-radius: 5px;
}

/* Media rules for the <Card/> component in 'Mem.jsx' */
@media (max-width: 576px) {
  .card-custom {
    width: 100% !important;
  }
}

@media (min-width: 577px) {
  .card-custom {
    width: 70% !important;
  }
}

@media (min-width: 992px) {
  .card-custom {
    width: 55% !important;
  }
}

/* Styles for the <NavLink/> component in 'Navigation.jsx' */ 
.nav-link{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.nav-link.active {
  color: #000000 !important;
  background-color: rgb(255, 255, 255) !important;
  font-weight: bold;
  border-radius: 10px;
}

.nav-link:hover {
  color: #000000 !important;
  background-color: rgb(255, 255, 255) !important;
  font-weight: bold;
  border-radius: 10px;
}
